.animDiv:active{
    background:linear-gradient(to bottom right, #7E49B7, #6D77F6), linear-gradient(to top left, #7E49B7, #6D77F6);
    color:#333333;
}

html, body{
    padding: 0;
    margin: 0;
}
body{
    background:radial-gradient(circle at 50% 60%, #BE63F9, #F5E6FE);
    background-attachment: fixed;
}
p, h1, div{
    font-family: Verdana, sans-serif;
    position: relative;
    color:#6122A5;
    text-align: center;
    
}
h1{
    font-size:4em;
    text-shadow: 2.5px 3px 2px #DCA6FF;
}
p{
    position: relative;
    padding-top: 40px;
    height: 46px;
    width: 280px;
    border-radius: 15px;
    background:linear-gradient(to bottom right, #F5E6FE, #E7C0FF), linear-gradient(to top left, #F5E6FE, #E7C0FF);
    font-size: 2.5em;
    margin: 0 auto;
    text-shadow: 2.5px 3px 2px #B089CA;
}

.divClick{
    position: relative;
    height: 400px;
    width: 800px;
    background:linear-gradient(to bottom right, #6D77F6, #A762F0), linear-gradient(to top left, #6122A5, #A762F0);
    margin: 0 auto;
    font-size: 2.6em;
    user-select: none;
    line-height: 400px;
    box-shadow: 20px 20px 20px  #888888;
    border-radius: 30px;
    touch-action: manipulation;
    text-shadow: 2.5px 3px 2px #DCA6FF;
}
.time{
    position: relative;
    height: 60px;
    width:200px;
    background-color: #b64dfd;
    border-bottom: solid #A00EFF 5px;
    border-right: solid #A00EFF 5px;
    line-height:60px;
    font-size:1.6em;
    margin: 20px 2px;
    user-select: none;
    border-radius: 15px;
    top:10px;
    display:inline-block;
}
a{
    text-decoration: none;
    color:white;
}
*{
    right:100vw;
    animation-name: lancement;
    animation-duration:2s;
    animation-fill-mode: forwards;
}
@keyframes lancement{
    from{
        right:100vw;
    }
    to{
        right:0vw;
    }
}
@media all and (max-width:900px){
    .divClick{
        width:600px;
        height:300px;
        line-height:300px;
    }
}
@media all and (max-width:600px){
    .divClick{
        width:450px;
        height:225px;
        line-height:225px;
    }
}
@media handheld{
    .animDiv:active{
        background:linear-gradient(to bottom right, #6122A5, #462766), linear-gradient(to top left, #6122A5, #462766);
        color:white;
    }
}
